/* /Shared/MainLayout.razor.rz.scp.css */
.container1[b-nbo8vnb3za]{
    display: flex;
    flex-direction: column;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.header[b-le0tfndrlg]{
    background: linear-gradient(to right, #fc354c, #0abfbc);
    height: 4rem;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    display: flex;
    margin-bottom: 10px;
    /* text-align: center; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
