.header{
    background: linear-gradient(to right, #fc354c, #0abfbc);
    height: 4rem;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    display: flex;
    margin-bottom: 10px;
    /* text-align: center; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}